@import "../variables";
@import "../placeholders/placeholder";

.btn-back {
  padding: 15px 15px;
  a {
    display: block;
    color: $secondaryColor;
    width: 15%;
    padding: 5px;
    text-align: center;
    &:hover {
      @extend %linkButtonHover;
    }
    @media (max-width:1170px) {
      font-size: 0.8em;
    }
  }
}

.btn-primary {
  &:hover {
    @extend %linkButtonHover;
  }
}

button.submit {
  background-color: $mainColor;
  background: -webkit-gradient(linear, left top, left bottom, from($mainColor), to($secondaryColor));
  background: -webkit-linear-gradient(top, $mainColor, $secondaryColor);
  background: -moz-linear-gradient(top, $mainColor, $secondaryColor);
  background: -ms-linear-gradient(top, $mainColor, $secondaryColor);
  background: -o-linear-gradient(top, $mainColor, $secondaryColor);
  background: linear-gradient(top, $mainColor, $secondaryColor);
  border: 1px solid $secondaryColor;
  border-bottom: 1px solid $secondaryColor;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 $shadowColor;
  -webkit-box-shadow: 0 1px 0 0 $shadowColor inset ;
  -moz-box-shadow: 0 1px 0 0 $shadowColor inset;
  -ms-box-shadow: 0 1px 0 0 $shadowColor inset;
  -o-box-shadow: 0 1px 0 0 $shadowColor inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 $text-shadowColor;
}

button.submit:hover {
  opacity:.85;
  cursor: pointer;
}

button.submit:active {
  border: 1px solid $mainColor;
  box-shadow: 0 0 10px 5px $secondaryColor inset;
  -webkit-box-shadow:0 0 10px 5px $secondaryColor inset ;
  -moz-box-shadow: 0 0 10px 5px $secondaryColor inset;
  -ms-box-shadow: 0 0 10px 5px $secondaryColor inset;
  -o-box-shadow: 0 0 10px 5px $secondaryColor inset;
}