$form-width: 50%;

.form-body {
  color: black;
  width: $form-width;
  @media (max-width: 500px) {
    width: 90%;
  }
  @media (min-width: 501px) and (max-width: 768px) {
    width: 70%;
  }
  margin: 0 auto;
}

.form-group {
  color: black;
  padding: 10px;
  border-bottom: 1px dashed #4d8ed0;

  div {
    display: inline-block;
  }
  .label {
    width: 25%;
    font-size: 16px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .for-input {
    margin-left: 5%;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}
.form-title {
  color: #1061cc;
  width: $form-width;
  @media (max-width: 500px) {
    width: 90%;
  }
  @media (min-width: 501px) and (max-width: 768px) {
    width: 70%;
  }
  text-align: center;
  margin: 0 auto;
}

.help-block {
  font-size: 16px;
  color: darkgray;
}

input {
  border:1px solid #aaa;
  box-shadow: 0px 0px 3px #aaa, 0 5px 5px lightgrey inset;
  padding: 5px;
  border-radius: 5px;

}

input:focus {
  background: #fff;
  border:1px solid #00b7ff;
  box-shadow: 0 0 3px #4d8ed0;
  @media (min-width: 320px) and (max-width: 500px) {
    padding-right: 5px;
  }
  -moz-transition: padding .25s;
  -webkit-transition: padding .25s;
  -o-transition: padding .25s;
  transition: padding .25s;
}

select:hover {
  opacity: .85;
  cursor: pointer;
}

label.checkbox {
  font-size: 0.8em;
  @media (max-width: 1200px) {
    font-size: 1em;
  }
  @media (max-width: 768px) {
      font-size: 0.8em;
  }
  @media (max-width: 500px) {
    font-size: 1em;
  }
}
