@import "../variables";
@import "../placeholders/placeholder";

.header {
  margin: 0 auto;
  min-height: $headerMinHeight;
  padding: 10px;
  @media (max-width: 500px) {
    padding: 2px;
  }
  .container {
    border: 1px solid black;
    min-height: $headerMinHeight;
  }
}


.header-nav-bar {
  display: inline-block;
}


.navbar-right {
  @media (max-width: 500px) {
    float: left;
    & > ul {
      padding-left: 2px;
    }
  }

  float: right;
  padding: 2px;
  li {
    display: inline-block;
    margin-right: 2px;
    padding: 5px;
    border-radius: 10%;
    a {
      color: $secondaryColor;
      @media (max-width:1200px) {
        font-size: 0.8em;
      }
    }
    &:hover {
      @extend %linkButtonHover;
      a {
        color: white;
      }
    }
  }
}

.navbar-left {
  float: left;
  padding: 2px;
  & > ul {
    padding-left: 10px;
    @media (max-width: 768px) {
      padding-left: 2px;
    }
  }
  & > ul > li {
    display: inline-block;
    padding: 5px;
    border-radius: 10%;

    &:hover {
      @extend %linkButtonHover;
    }

    & > a {
      color: $secondaryColor;
      @media (max-width:1170px) {
        font-size: 0.8em;
      }
    }

    &:hover > a {
      color: white;
    }
  }
}










