@import "../placeholders/placeholder";
@import "../helpers/mixins";

// Displaying properties

.navbar-left > ul > li.projects-menu {
  display: none;
  position: relative;
  @media (max-width:768px) {
    display: inline-block;
  }
}

// Menu properties
nav.projects {
  position: absolute;
  display: none;
  top: 90%;
  left: -50%;
  z-index: 1000;
  min-width: 250px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 50vh;
  background: none;
}

ul.project-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90%;
  z-index: 1000;
  font-size: 1em;
  .active a {
    color: white;
    background: #0073cc;
    &:hover {
      background: black;
    }
  }
  & > li {
    diplay: block;
    background: white;
  }
  & > li:nth-child(1), li:nth-child(5) {

    @include menuListsProperties (grey, 0.8em);
    background: #00b7ff;
    color: white;
    text-align: center;
  }
  & > li {
    position: relative;

    &:hover > a.submenu-buttons {
      display: block;
    }
  }

  a {
    @include menuListsProperties (grey, 0.8em);
    display: block;
    color: $secondaryColor;
    background: white;

    &:hover {
      background: #f5f5f5;
    }
  }
  a.submenu-buttons{
    position: absolute;
    display: none;
    width: 25%;
    top: 20%;
    border-radius: 15%;
    height: 50%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
    border: none;
  }
  a.first{
    left: 60%;
  }
  a.second{
    left: 80%;
  }
}

// Activation

input[type=checkbox]#toggle-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type=checkbox]#toggle-menu:checked ~ .projects-menu > nav.projects {
  display: block;
}

label.sub-menu-link:hover {
  cursor: pointer;
}

input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  @extend %linkButtonHover;
  border: 1px solid gray;
  & > a {
    color: white;
  }
}