html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 10px;
  padding: 20px;
  color: $text-color;
  border: 1px dotted #999999;
  min-height: 300px;
  @media (max-width: 1000px) {
    margin: 5px;
    padding: 5px;
  }
  @media (max-width: 500px) {
    margin: 0;
    padding: 0;
    font-size: $font-size-base/1.3;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  .row {
    margin-left: 2px;
    margin-right: 2px;
  }

}

.content {
  position:relative;
  min-height:1px;
  padding: 0;
  margin: 0;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  z-index: 10;
}