@import "../variables";

.profile-view {
  @media (max-width:500px) {
    display: block;
  }
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: space-around;
}

.avatar {
  max-width: 300px;
  max-height: 300px;
  @media (max-width: 600px) {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    max-width: none;
    max-height: none;
  }

  img {
    width: 100%;
    height: 100%;
    @media (max-width: 600px) {
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    border: 1px solid $secondaryColor;
  }
}

.profile-info {
  padding: 5px;
  p {
    @media (max-width: 768px) {
      font-size: 0.8em;
    }
    @media (max-width: 500px) {
      font-size: 1em;
      margin: 0 auto;
    }
  }
  a {
    padding: 5px;
    border-radius: 10%;
    text-align: center;
    display: inline-block;
    width: 80px;
    background: white;
    color: $secondaryColor;
    font-size: 0.9em;

    &:hover {
      background: $mainColor;
      color: white;
    }

    &:active {
      opacity: 0.8;
    }
  }

}