
@import "../placeholders/placeholder";
@import "../variables";

.task-item {
  @extend %taskPosition;
}

.task-name {
  @extend %taskContentSize;
  width: 25%;
  text-align: left;
  border-right: $taskDivBorder;
  a {
    color: $secondaryColor;
  }
}

.task-priority {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: red;
  border: 1px solid black;
  @media (max-width: 1200px) {
    width: 15px;
    height: 15px;
  }

  @media (max-width: 960px) {
    width: 10px;
    height: 10px;
  }
}

.priority-0 {
  background: #009a00;
}

.priority-1 {
  background: #fff764;
}

.priority-2 {
  background: #00b7ff;
}

.task-item > div {
  vertical-align: middle;
  display: inline-block;
  margin-right: 2%;
}

.task-category {
  @extend %taskContentSize;
  width: 25%;
  border-right: $taskDivBorder;
}

.task-content {

  width: 25%;
  padding: 10px;
  text-align: center;
  border-left: $taskDivBorder;
  @media (max-width: 960px) {
    padding: 0;
  }
}

.task-date {
  margin-bottom: 5px;
  border-bottom: $taskDivBorder;
  font-style: italic;
  color: dimgrey;
}

.task-links a {
  display: inline-block;
  color: $secondaryColor;
  width: 40%;

  &:hover {
    @extend %linkButtonHover;
  }
}

.task-header {
  @extend %taskPosition;
  text-align: center;
  h2 {
    @media (max-width: 1200px) {
      font-size: 1em;
    }
  }
}

.task-container {
  padding: 5px;
  float: right;
  width: 80%;
  @media (max-width: 960px) {
    padding: 0;
  }
  @media (max-width: 768px) {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

}

.task-lits-body {
  width: 100%;
  @media (max-width: 1200px) {
    font-size: 0.8em;
  }
}

.task-archive-container {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  .task-content {
    width: 30%;
    border-left: none;
  }
  .task-category {
    width: 25%;
  }
  .btn-back {
    width: 50%;
  }
}


.task-view-container {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  .task-content {
    width: 25%;
    border-left: none;
  }
  .task-category {
    width: 25%;
  }
  .btn-back {
    width: 50%;
  }
}
