@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 10px;
  padding: 20px;
  color: #636b6f;
  border: 1px dotted #999999;
  min-height: 300px;
}

@media (max-width: 1000px) {
  body {
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 13.84615385px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container .row {
  margin-left: 2px;
  margin-right: 2px;
}

.content {
  position: relative;
  min-height: 1px;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  z-index: 10;
}

@media (max-width: 768px) {
  #sidebar-nav {
    display: none;
  }
}

.left-sidebar {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 18%;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .left-sidebar {
    font-size: 0.8em;
  }
}

#sidebar-nav .sidebar-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#sidebar-nav .sidebar-list .active a {
  color: white;
  background: #0073cc;
}

#sidebar-nav .sidebar-list .active a:hover {
  background: #00b7ff;
}

#sidebar-nav .sidebar-list a {
  display: block;
  margin-bottom: -1px;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  font-size: 1em;
  width: 100%;
  color: #0088cc;
  width: inherit;
}

#sidebar-nav .sidebar-list a:hover {
  background: #f5f5f5;
}

.sidebar-list > li > ul.sub-menu {
  width: 60%;
}

.sidebar-list > li > ul.sub-menu > li a {
  background: #fbfbfb;
}

.sidebar-list > li {
  position: relative;
}

ul.sidebar-list > li:hover > ul.sub-menu {
  display: block;
}

.task-links a:hover,
.navbar-right li:hover,
.navbar-left > ul > li:hover,
.btn-back a:hover,
.btn-primary:hover,
input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  color: white;
  background: #00b7ff;
  border-radius: 10%;
}

.task-item,
.task-header {
  padding: 5px;
  margin: 0 auto;
  color: black;
  position: relative;
  width: 95%;
}

.task-name,
.task-category {
  min-height: 50px;
  line-height: 50px;
  padding: 10px;
}

@media (max-width: 500px) {
  .task-name,
  .task-category {
    min-height: 25px;
    line-height: 25px;
    padding: 2px;
    text-align: center;
  }
}

.sidebar-list > li > ul.sub-menu {
  position: absolute;
  top: 5px;
  right: -40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.task-name {
  width: 25%;
  text-align: left;
  border-right: 1px solid #00b7ff;
}

.task-name a {
  color: #0088cc;
}

.task-priority {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: red;
  border: 1px solid black;
}

@media (max-width: 1200px) {
  .task-priority {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 960px) {
  .task-priority {
    width: 10px;
    height: 10px;
  }
}

.priority-0 {
  background: #009a00;
}

.priority-1 {
  background: #fff764;
}

.priority-2 {
  background: #00b7ff;
}

.task-item > div {
  vertical-align: middle;
  display: inline-block;
  margin-right: 2%;
}

.task-category {
  width: 25%;
  border-right: 1px solid #00b7ff;
}

.task-content {
  width: 25%;
  padding: 10px;
  text-align: center;
  border-left: 1px solid #00b7ff;
}

@media (max-width: 960px) {
  .task-content {
    padding: 0;
  }
}

.task-date {
  margin-bottom: 5px;
  border-bottom: 1px solid #00b7ff;
  font-style: italic;
  color: dimgrey;
}

.task-links a {
  display: inline-block;
  color: #0088cc;
  width: 40%;
}

.task-header {
  text-align: center;
}

@media (max-width: 1200px) {
  .task-header h2 {
    font-size: 1em;
  }
}

.task-container {
  padding: 5px;
  float: right;
  width: 80%;
}

@media (max-width: 960px) {
  .task-container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .task-container {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}

.task-lits-body {
  width: 100%;
}

@media (max-width: 1200px) {
  .task-lits-body {
    font-size: 0.8em;
  }
}

.task-archive-container {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
}

.task-archive-container .task-content {
  width: 30%;
  border-left: none;
}

.task-archive-container .task-category {
  width: 25%;
}

.task-archive-container .btn-back {
  width: 50%;
}

.task-view-container {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
}

.task-view-container .task-content {
  width: 25%;
  border-left: none;
}

.task-view-container .task-category {
  width: 25%;
}

.task-view-container .btn-back {
  width: 50%;
}

.task-links a:hover,
.navbar-right li:hover,
.navbar-left > ul > li:hover,
.btn-back a:hover,
.btn-primary:hover,
input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  color: white;
  background: #00b7ff;
  border-radius: 10%;
}

.task-item,
.task-header {
  padding: 5px;
  margin: 0 auto;
  color: black;
  position: relative;
  width: 95%;
}

.task-name,
.task-category {
  min-height: 50px;
  line-height: 50px;
  padding: 10px;
}

@media (max-width: 500px) {
  .task-name,
  .task-category {
    min-height: 25px;
    line-height: 25px;
    padding: 2px;
    text-align: center;
  }
}

.sidebar-list > li > ul.sub-menu {
  position: absolute;
  top: 5px;
  right: -40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.header {
  margin: 0 auto;
  min-height: 100px;
  padding: 10px;
}

@media (max-width: 500px) {
  .header {
    padding: 2px;
  }
}

.header .container {
  border: 1px solid black;
  min-height: 100px;
}

.header-nav-bar {
  display: inline-block;
}

.navbar-right {
  float: right;
  padding: 2px;
}

@media (max-width: 500px) {
  .navbar-right {
    float: left;
  }

  .navbar-right > ul {
    padding-left: 2px;
  }
}

.navbar-right li {
  display: inline-block;
  margin-right: 2px;
  padding: 5px;
  border-radius: 10%;
}

.navbar-right li a {
  color: #0088cc;
}

@media (max-width: 1200px) {
  .navbar-right li a {
    font-size: 0.8em;
  }
}

.navbar-right li:hover a {
  color: white;
}

.navbar-left {
  float: left;
  padding: 2px;
}

.navbar-left > ul {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .navbar-left > ul {
    padding-left: 2px;
  }
}

.navbar-left > ul > li {
  display: inline-block;
  padding: 5px;
  border-radius: 10%;
}

.navbar-left > ul > li > a {
  color: #0088cc;
}

@media (max-width: 1170px) {
  .navbar-left > ul > li > a {
    font-size: 0.8em;
  }
}

.navbar-left > ul > li:hover > a {
  color: white;
}

.form-body {
  color: black;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .form-body {
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .form-body {
    width: 70%;
  }
}

.form-group {
  color: black;
  padding: 10px;
  border-bottom: 1px dashed #4d8ed0;
}

.form-group div {
  display: inline-block;
}

.form-group .label {
  width: 25%;
  font-size: 16px;
}

@media (max-width: 768px) {
  .form-group .label {
    font-size: 12px;
  }
}

.form-group .for-input {
  margin-left: 5%;
}

@media (max-width: 768px) {
  .form-group .for-input {
    margin-left: 0;
  }
}

.form-title {
  color: #1061cc;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .form-title {
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .form-title {
    width: 70%;
  }
}

.help-block {
  font-size: 16px;
  color: darkgray;
}

input {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa, 0 5px 5px lightgrey inset;
          box-shadow: 0px 0px 3px #aaa, 0 5px 5px lightgrey inset;
  padding: 5px;
  border-radius: 5px;
}

input:focus {
  background: #fff;
  border: 1px solid #00b7ff;
  -webkit-box-shadow: 0 0 3px #4d8ed0;
          box-shadow: 0 0 3px #4d8ed0;
  -webkit-transition: padding .25s;
  transition: padding .25s;
}

@media (min-width: 320px) and (max-width: 500px) {
  input:focus {
    padding-right: 5px;
  }
}

select:hover {
  opacity: .85;
  cursor: pointer;
}

label.checkbox {
  font-size: 0.8em;
}

@media (max-width: 1200px) {
  label.checkbox {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  label.checkbox {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  label.checkbox {
    font-size: 1em;
  }
}

.task-links a:hover,
.navbar-right li:hover,
.navbar-left > ul > li:hover,
.btn-back a:hover,
.btn-primary:hover,
input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  color: white;
  background: #00b7ff;
  border-radius: 10%;
}

.task-item,
.task-header {
  padding: 5px;
  margin: 0 auto;
  color: black;
  position: relative;
  width: 95%;
}

.task-name,
.task-category {
  min-height: 50px;
  line-height: 50px;
  padding: 10px;
}

@media (max-width: 500px) {
  .task-name,
  .task-category {
    min-height: 25px;
    line-height: 25px;
    padding: 2px;
    text-align: center;
  }
}

.sidebar-list > li > ul.sub-menu {
  position: absolute;
  top: 5px;
  right: -40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.btn-back {
  padding: 15px 15px;
}

.btn-back a {
  display: block;
  color: #0088cc;
  width: 15%;
  padding: 5px;
  text-align: center;
}

@media (max-width: 1170px) {
  .btn-back a {
    font-size: 0.8em;
  }
}

button.submit {
  background-color: #00b7ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b7ff), to(#0088cc));
  background: linear-gradient(top, #00b7ff, #0088cc);
  border: 1px solid #0088cc;
  border-bottom: 1px solid #0088cc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8dd6ff;
  -webkit-box-shadow: 0 1px 0 0 #8dd6ff inset;
  -moz-box-shadow: 0 1px 0 0 #8dd6ff inset;
  -ms-box-shadow: 0 1px 0 0 #8dd6ff inset;
  -o-box-shadow: 0 1px 0 0 #8dd6ff inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #113475;
}

button.submit:hover {
  opacity: .85;
  cursor: pointer;
}

button.submit:active {
  border: 1px solid #00b7ff;
  box-shadow: 0 0 10px 5px #0088cc inset;
  -webkit-box-shadow: 0 0 10px 5px #0088cc inset;
  -moz-box-shadow: 0 0 10px 5px #0088cc inset;
  -ms-box-shadow: 0 0 10px 5px #0088cc inset;
  -o-box-shadow: 0 0 10px 5px #0088cc inset;
}

.task-links a:hover,
.navbar-right li:hover,
.navbar-left > ul > li:hover,
.btn-back a:hover,
.btn-primary:hover,
input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  color: white;
  background: #00b7ff;
  border-radius: 10%;
}

.task-item,
.task-header {
  padding: 5px;
  margin: 0 auto;
  color: black;
  position: relative;
  width: 95%;
}

.task-name,
.task-category {
  min-height: 50px;
  line-height: 50px;
  padding: 10px;
}

@media (max-width: 500px) {
  .task-name,
  .task-category {
    min-height: 25px;
    line-height: 25px;
    padding: 2px;
    text-align: center;
  }
}

.sidebar-list > li > ul.sub-menu {
  position: absolute;
  top: 5px;
  right: -40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.navbar-left > ul > li.projects-menu {
  display: none;
  position: relative;
}

@media (max-width: 768px) {
  .navbar-left > ul > li.projects-menu {
    display: inline-block;
  }
}

nav.projects {
  position: absolute;
  display: none;
  top: 90%;
  left: -50%;
  z-index: 1000;
  min-width: 250px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 50vh;
  background: none;
}

ul.project-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90%;
  z-index: 1000;
  font-size: 1em;
}

ul.project-list .active a {
  color: white;
  background: #0073cc;
}

ul.project-list .active a:hover {
  background: black;
}

ul.project-list > li {
  diplay: block;
  background: white;
}

ul.project-list > li:nth-child(1),
ul.project-list li:nth-child(5) {
  display: block;
  margin-bottom: -1px;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid grey;
  font-size: 0.8em;
  width: 100%;
  background: #00b7ff;
  color: white;
  text-align: center;
}

ul.project-list > li {
  position: relative;
}

ul.project-list > li:hover > a.submenu-buttons {
  display: block;
}

ul.project-list a {
  display: block;
  margin-bottom: -1px;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid grey;
  font-size: 0.8em;
  width: 100%;
  display: block;
  color: #0088cc;
  background: white;
}

ul.project-list a:hover {
  background: #f5f5f5;
}

ul.project-list a.submenu-buttons {
  position: absolute;
  display: none;
  width: 25%;
  top: 20%;
  border-radius: 15%;
  height: 50%;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 0.7em;
  border: none;
}

ul.project-list a.first {
  left: 60%;
}

ul.project-list a.second {
  left: 80%;
}

input[type=checkbox]#toggle-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

input[type=checkbox]#toggle-menu:checked ~ .projects-menu > nav.projects {
  display: block;
}

label.sub-menu-link:hover {
  cursor: pointer;
}

input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  border: 1px solid gray;
}

input[type=checkbox]#toggle-menu:checked ~ .projects-menu > a {
  color: white;
}

.profile-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  .profile-view {
    display: block;
  }
}

.avatar {
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 600px) {
  .avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    max-width: none;
    max-height: none;
  }
}

.avatar img {
  width: 100%;
  height: 100%;
  border: 1px solid #0088cc;
}

@media (max-width: 600px) {
  .avatar img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}

.profile-info {
  padding: 5px;
}

@media (max-width: 768px) {
  .profile-info p {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .profile-info p {
    font-size: 1em;
    margin: 0 auto;
  }
}

.profile-info a {
  padding: 5px;
  border-radius: 10%;
  text-align: center;
  display: inline-block;
  width: 80px;
  background: white;
  color: #0088cc;
  font-size: 0.9em;
}

.profile-info a:hover {
  background: #00b7ff;
  color: white;
}

.profile-info a:active {
  opacity: 0.8;
}

.task-links a:hover,
.navbar-right li:hover,
.navbar-left > ul > li:hover,
.btn-back a:hover,
.btn-primary:hover,
input[type=checkbox]#toggle-menu:checked ~ .projects-menu {
  color: white;
  background: #00b7ff;
  border-radius: 10%;
}

.task-item,
.task-header {
  padding: 5px;
  margin: 0 auto;
  color: black;
  position: relative;
  width: 95%;
}

.task-name,
.task-category {
  min-height: 50px;
  line-height: 50px;
  padding: 10px;
}

@media (max-width: 500px) {
  .task-name,
  .task-category {
    min-height: 25px;
    line-height: 25px;
    padding: 2px;
    text-align: center;
  }
}

.sidebar-list > li > ul.sub-menu {
  position: absolute;
  top: 5px;
  right: -40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

