@mixin menuListsProperties ($borderColor, $fontSize) {
  display: block;
  margin-bottom: -1px;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid $borderColor;
  font-size: $fontSize;
  width: 100%;
}


