@import "../variables";


// General
%linkButtonHover {
  color: white;
  background: $mainColor;
  border-radius: 10%;
}

// Task Section

%taskPosition {
  padding: 5px;
  margin: 0 auto;
  color: black;
  position: relative;
  width: 95%;
}

%taskContentSize {
  min-height: $taskContentHeight;
  line-height: $taskContentHeight;
  padding: 10px;
  @media (max-width: 500px) {
    min-height: $taskContentHeight/2;
    line-height: $taskContentHeight/2;
    padding: 2px;
    text-align: center;

  }
}

// HeaderProjectMenu
%menuItemsStyle {
  font-size: 0.8em;
  display: block;
  width: 100%;
  margin-bottom: -1px;
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid black;
}

// SubMenu
%subMenuProperties {
  position: absolute;
  top: 5px;
  right: -40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

