//Color
$mainColor: #00b7ff;
$secondaryColor: #0088cc;
$shadowColor: #8dd6ff;
$text-shadowColor: #113475;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.4;
$text-color: #636b6f;

//Task section
$taskContentHeight: 50px;
$taskDivBorder: 1px solid $mainColor;


//Header
$headerMinHeight: 100px;